@model Employee_List.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" id="name" name="name" type="text" required autofocus/>
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" id="title" name="title" type="text" required />
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" id="start_date" name="start_date" type="date" />                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" id="end_date" name="end_date" type="date" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="imageDisplay" src=""/>
                <input class="form-control" type="file" name="image" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            doAjax(function (callback) {
                if (callback != 'success') {
                    console.log("ajax reqest failed");
                }
            });
        });

        function doAjax(callback) {
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetOne")',
                data: {'id': @ViewBag.id},
                dataType: 'json',
                success: function (data) {                    
                    $("#name").val(data.name);
                    $("#title").val(data.title);
                    $("#start_date").val(new Date(parseInt(data.start_date.substr(6))).toISOString().substr(0, 10));
                    $("#end_date").val(new Date(parseInt(data.end_date.substr(6))).toISOString().substr(0, 10));
                    $("#imageDisplay").attr('src', data.imageString);

                    return callback('success');
                },
                error: function () {
                    return callback('failed');
                }
            });
        }
    </script>
}